body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leg-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

.leg-group {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leg-group h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #444;
}

.input {
    display: block;
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

.d-flex{
    border-bottom: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
@media (max-width: 768px) {
    .leg-container {
        grid-template-columns: 1fr;
    }
}

